/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}
/*General Styles*/
html {
    font-size:62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #FBFFFB;
    line-height: 1.5;
    color: #470023;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
section {
    padding: 4% 0;
}

/*Header*/
header {
    background-color: #F9B1D4;
}

.upperHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

h1 {
    font-size: 7rem;
    font-family: 'Pacifico', cursive;
}

.navbar {
    margin: 2% 1%;
    display: flex;
    justify-content: center;
    width: 31vw;
}

.navbar a {
    padding: 1% 3%;
    text-decoration: none;
    background-color: #470023;
    color: #fff;
    transition:1s;
    border-radius: 10px;
    margin: .7%1%;
}

.navbar a:hover{
    color:#fff;
    background-color:#AB0C5A;
}

h2 {
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
}

header p {
    margin: 3% 7%;
    color: #AB0C5A;
}

/*Images*/
.bigImage {
    padding: 0;
}

#img1 {
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1517497869-caaa5dacda85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 35vh;
}

.bottom {
    padding: 1.5% 0;
    display: flex;
}

.gallery, .textSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45vh;
}

.textSection {
    width: 20vw;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 3%;
    font-size: 1.3rem;
}

.gallery div {
    width: 23%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img2 {
    background-image: url('https://images.unsplash.com/photo-1457089328109-e5d9bd499191?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=726&q=80');
}

#img3 {
    background-image: url('https://images.unsplash.com/photo-1502736842968-bcaab72d0700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80');
}

#img4 {
    background-image: url('https://images.unsplash.com/photo-1492950103599-127d2be251b7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=720&q=80');
}

#img5 {
    background-image: url('https://images.unsplash.com/photo-1475872711536-95ec04b9d290?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80');
}

/*Footer*/
footer {
    background-color: #E179AC;
}

button{
    padding:1% 3%;
    margin:5% 0;
    color:#fff;
    background-color:#470023;
    border:2px solid #470023;
    font-size:1.6rem;
    transition:1s;
    border-radius: 10px;
}

button:hover{
    color:#fff;
    background-color:#AB0C5A;
    border:2px solid #AB0C5A;
}

/*Media Queries*/
@media (max-width: 500px) {
    h1, h2 {
        margin: 0 3%;
    }
    
    .navbar {
        flex-direction: column;
        width: 20%;
    }

    .navbar a {
        padding: 5% 0;
    }

    header p {
        text-align: left;
    }

    #img1 {
        margin: 3%;
        height: 28vh;
    }

    .bottom {
        flex-wrap: wrap;
        justify-content: center;
        height: 140vh;
        margin: 0 3% 1%;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-between;
        height: 125vh;
    }

    .gallery div {
        width: 48%;
        height: 48%;
    }

    .textSection {
        width: 100%;
        height: 5vh;
        justify-content: center;
        text-align: left;
        margin: 0;
        text-align: center;
        font-size: 1.6rem;
    }
}

@media (max-width: 800px) {
    /*No changes needed!*/
}